@model GymManager.Models.Planes

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">

                    <h4>¿Está seguro(a) que desea eliminar este Plan?</h4>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>@Html.DisplayNameFor(model => model.Descripcion1): </strong>@Html.DisplayFor(model => model.Descripcion1)
                    </li>
                    <li class="list-group-item">
                        <strong>@Html.DisplayNameFor(model => model.Descripcion2): </strong>@Html.DisplayFor(model => model.Descripcion2)
                    </li>
                    <li class="list-group-item">
                        <strong>@Html.DisplayNameFor(model => model.CodigoAlterno): </strong>@Html.DisplayFor(model => model.CodigoAlterno)
                    </li>
                    <li class="list-group-item">
                        <strong>@Html.DisplayNameFor(model => model.DuracionDias): </strong>@Html.DisplayFor(model => model.DuracionDias)
                    </li>
                    <li class="list-group-item">
                        <strong>@Html.DisplayNameFor(model => model.Precio): </strong>@Html.DisplayFor(model => model.Precio)
                    </li>
                    <li class="list-group-item">
                        <strong>@Html.DisplayNameFor(model => model.Descuento): </strong>@Html.DisplayFor(model => model.Descuento)
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdPlan" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-dark">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
