@model GymManager.Models.Planes

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Planes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoAlterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoAlterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuracionDias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuracionDias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descuento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPlan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
