@model IEnumerable<GymManager.Models.Planes>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Planes</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> Nuevo</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-md-3 mt-2">
        <div class="card">
            <div class="card-header">
                <div class="d-flex">
                    @Html.DisplayFor(modelItem => item.Descripcion1)
                    <div class="ml-auto">
                        <a asp-action="Details" asp-route-id="@item.IdPlan" class="btn btn-sm btn-secondary"><i class="fas fa-info"></i></a>
                    </div>
                </div>
                
            </div>
            <div class="card-body">
                <p>@Html.DisplayFor(modelItem => item.Descripcion2)</p>
                <p><strong>@Html.DisplayNameFor(modelItem => item.DuracionDias):</strong> @Html.DisplayFor(modelItem => item.DuracionDias)</p>
                <h4><strong>@Html.DisplayNameFor(modelItem => item.Precio):</strong> @Html.DisplayFor(modelItem => item.Moneda.Simbolo) @Html.DisplayFor(modelItem => item.Precio)</h4>
            </div>
            <div class="card-footer text-center">
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@item.IdPlan" class="btn btn-sm btn-primary">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.IdPlan" class="btn btn-sm btn-danger">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
    }
</div>