@model IEnumerable<GymManager.Models.Planes>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoAlterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuracionDias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descuento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoAlterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuracionDias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPlan">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPlan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPlan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
