@model GymManager.Models.Clientes

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3>¿Está seguro(a) de eliminar este Cliente?</h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>@Html.DisplayNameFor(model => model.Nombre): </strong> @Html.DisplayFor(model => model.Nombre)
                    </li>
                    <li class="list-group-item">
                        <strong>@Html.DisplayNameFor(model => model.Apellidos): </strong> @Html.DisplayFor(model => model.Apellidos)
                    </li>
                    <li class="list-group-item">
                        <strong>@Html.DisplayNameFor(model => model.Sexo): </strong> @Html.DisplayFor(model => model.Sexo)
                    </li>
                    <li class="list-group-item">
                        <strong>@Html.DisplayNameFor(model => model.Cedula): </strong> @Html.DisplayFor(model => model.Cedula)
                    </li>
                    <li class="list-group-item">
                        <strong>@Html.DisplayNameFor(model => model.Telefono): </strong> @Html.DisplayFor(model => model.Telefono)
                    </li>
                    <li class="list-group-item">
                        <strong>@Html.DisplayNameFor(model => model.Celular): </strong> @Html.DisplayFor(model => model.Celular)
                    </li>
                    <li class="list-group-item">
                        <strong>@Html.DisplayNameFor(model => model.Correo): </strong> @Html.DisplayFor(model => model.Correo)
                    </li>
                    <li class="list-group-item">
                        <strong>@Html.DisplayNameFor(model => model.Direccion): </strong> @Html.DisplayFor(model => model.Direccion)
                    </li>
                    <li class="list-group-item">
                        <strong>@Html.DisplayNameFor(model => model.Activo): </strong> @Html.DisplayFor(model => model.Activo)
                    </li>
                    <li class="list-group-item">
                        <strong>@Html.DisplayNameFor(model => model.IdCiudad): </strong> @Html.DisplayFor(model => model.Ciudades.Nombre)
                    </li>
                </ul>
                <br /><br />
                <div class="card-footer">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="IdCliente" />
                        <input type="submit" value="Eliminar" class="btn btn-danger" />
                        <button asp-action="Index" class="btn btn-dark">Cancelar</button>
                    </form>
                </div>
                

            </div>
        </div>
    </div>
</div>
